.header{

    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh;
    align-items: center;

    &__logo{
        margin: auto;
        list-style-type: none;
        &:hover a{
            color: $color-primary;
        }
    }

    &__menu-main{
        list-style-type: none;
        text-align: center;
        font-size: 1.5rem;

        &:hover a{
            color: $color-primary;
        }
    }

    
}

