.header{

    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh;
    align-items: center;

    &__logo{
        margin: auto;
    }

    &__menu-main{
        list-style-type: none;
    }

    
}

