.home__banner{

        grid-column: full-start / full-end ;

        background-image: linear-gradient(
            to right bottom ,
            rgba($color-primary,0.15) ,rgba($color-primary, 0.05)),
             url(../img/iplace-banner.jpg);
        background-size: cover;
        background-position: top;
        position: relative;
    
    
        &__logo-box{
            position: absolute;
            top: 4rem;
            left: 4rem;
        }
    
        &__logo{
            height: 3.5rem;
        }
        
        
        &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate( -50%, -50%);
        text-align: center;
        }

    
}

.features{

    grid-column: full-start / full-end ;

    margin: 5rem 10rem ;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap: 10rem;

    @media only screen and (max-width: $bp-small){
    margin: 2.5rem 5rem;
    grid-gap: 5rem;
    }

}

.feature{


}
//border color
.card-border-orange{
    border: 2px solid $color-primary;
}

.information {



        &__content1{
            // background-color: $color-primary;
            grid-column: center-start / col-end 5;
            // background-image: linear-gradient(rgba($color-primary,.5) , rgba($color-primary,.5)) , url(../img/back.jpg);
            background-size: cover;
            display: grid;
            grid-template-rows : repeat(12,1fr);
            grid-template-columns: repeat(12,1fr);
            // align-items: center;

            @media only screen and (max-width: $bp-small){
                grid-column: 1/-1 ;
                grid-row : 3/4;   
                // align-items: center;
            }

            &__header{
                
                grid-row: 1 / 2;
                color: $color-primary;
                grid-column: 3 / 6;
                align-self: end;
                

                @media only screen and (max-width: $bp-small){
                    grid-column: 2 / 10;
                    margin-top: 5rem;
                }
            
            }
            &__subheader{
                grid-row: 2 / 3;
                grid-column: 3 / 10;
                align-self: start;
                @media only screen and (max-width: $bp-small){
                    grid-column: 2 / 10;
                }
            }

            &__box{
                grid-row: 4/5;
                grid-column: 3 / 12;
                font-size: 1.5rem;
                @media only screen and (max-width: $bp-small){
                    grid-column: 2 / 12;
                }
            }
    
        }
    
    
        &__content2{
            grid-column: col-end 5 / center-end;
            background-size: cover;
            grid-template-rows : repeat(12,1fr);
            grid-template-columns: repeat(12,1fr);
            // align-items: center;
            display: grid;

            @media only screen and (max-width: $bp-small){
                grid-column: 1/-1;
                grid-row : 4/5;
            }

            &__header{
                
                grid-row: 1 / 2;
                color: $color-primary;
                grid-column: 2 / 5;
                align-self: end;

                @media only screen and (max-width: $bp-small){
                    grid-column: 2/-1;
                    // grid-row : 4/5;
                }
                
   
            }

            &__subheader{
                grid-row: 2 / 3;
                grid-column: 2 / 5;
                align-self: start;
            }

            &__box{
                grid-row: 4/5;
                grid-column: 2 / 11;
                border:3px solid $color-primary;
                font-size: 1.5rem;
                margin-bottom: 4rem;

                
            }

            &__boxheader{
                font-size: 1.6rem;
                color: $color-primary;
            }

        }
    
        &__text{
            font-size: 1.5rem;
            font-style: italic;
        }
    


}

.home-travel{
    grid-column: full-start / full-end ;
    background-color: $color-grey-light-2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    @media(max-width: $bp-medium){
        background-color: white;
    }


}

// @media(max-width: $bp-medium){
//     .home-travel{
//         grid-column: full-start / full-end ;
//         background-color: $color-grey-light-2;
//         display: flex;
//         align-items: center;
//         justify-content: space-evenly;
//         flex-wrap: wrap;
//         flex-direction: column;

//     }
// }

.home-sponsor{
    
    grid-column: full-start / full-end ;
    align-self: center;

    .carousel{

    }

    // background-color: $color-grey-light-2;
}


.home_news{

    grid-column: full-start / full-end ;
    align-self: center;

    position: relative;

    &__header{
        font-size: 3rem;
       text-align: center;
    }

    &__button{
        position: absolute; 
        top: 0px;
        right: 150px;

        @media(max-width: $bp-medium){
            display:none;
        }
    
    }

    &__no-news{
        margin-top: 5rem;
        text-align: center;
    }

}

.slick-slide{
    margin: 0 10px;
   }
   .slick-list{
     max-height: 100px;
   }




