.news-banner{
    background-image: linear-gradient(
        to right bottom ,
        rgba($color-primary,0.15) ,rgba($color-primary, 0.05)),
         url(../img/news-banner2.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    grid-row: 1/2;
}

.news-section{
    text-align: center;
    grid-row: 2/3;

    &__header{
        font-size: 3.5rem;
    }

    &__article{
        font-size: 1.3rem;
    }
}

