
%heading{
    font-family: $font-display;
    font-weight: 400;
}

.heading-1{
    @extend %heading;
    font-size: 4.5rem;
    color: $color-primary;
    line-height: 1;


}
.heading-2{
    @extend %heading;
    // font-style: italic;
    font-size: 4rem;
    line-height: 1;

    &--light { color: $color-grey-light-1 ;}
    &--dark { color: $color-grey-dark-1 ;}
    line-height: 1;
}
.heading-3{
    @extend %heading;
    font-size: 2rem;
    color: $color-secondary;
    text-transform: uppercase;
    

}
.heading-4{
    @extend %heading;
    font-size: 1.9rem;

    &--light { color: $color-grey-light-1 ;}
    &--dark { color: $color-grey-dark-1 ;}
}

.heading-5{
    @extend %heading;
    font-size: 1.7rem;
    line-height: 1;

    &--light { color: $color-grey-light-1 ;}
    &--dark { color: $color-grey-dark-1 ;}
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main{
        display : block;
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: 1.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        
    }
    
    &--sub{
        display: block;
        font-size: 5rem;
        font-weight: 1000;
        // letter-spacing: 1rem;
        animation: moveInRight 1s ease-out;
       
    }
}

.text-white{
    color:white;
}

.text-black{
    color: black;
}

.btn{
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: $font-display;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;

    &:hover{
        background-color: $color-primary-dark;
    }

    &--white{
        background-color: #fff;
        color: $color-primary;
    }


}